{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 signin">
        <div>
          <h2 style="font-weight: bold; margin-bottom:5vh;"><span class="bg-text">Sign</span>in</h2>
        {{wtf.quick_form(signin_form)}}
        <p style="margin-top: 5vh;">
          New here? <a href="{{url_for('auth.signup')}}">Signup</a>
        </p>
        </div>
      </div>
      <div class="col-md-6 signin-bg"></div>
    </div>
  </div>
{% endblock %}