.nav a{
  color: #969694;
}
.navbar-brand{
  color: #000;
}
body{
  background-image: url(../images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.banner{
  background-color: #F2F9FF;
  min-height: 50vh;
}

.display{
  margin-top: 10vh;
}

.bg-text{
  background-color: #F6464E;
  color: #fff;
  padding: 0.5vh 1vh;
}

.fas{
  color: #F6464E;
}

.inspire{
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.newsletter{
  background-color: #F2F9FF;
}

.btn{
  background-color: #F6464E;
  color: #fff;
}

.btn:hover{
  color: #F2F9FF;
}

hr{
  width: 8vw;
  background-color: #F6464E;
  height: 1vh;
  margin: 0 0 5vh 0;
}

.heading{
  font-weight: bold;
}

h6.card-title{
  color: #F6464E;
  width: auto;
  font-weight: bold;
}

.card-img-top{
  width: 100%;
}

.card-text, .card-title{
  padding: 1vh 3vh;
}

.card{
  box-shadow: 5vh 3vh 5vh 10px #969694;
}
