.nav a{
  color: #969694;
}
.navbar-brand{
  color: #000;
}
.navbar{
  background-color: #F2F9FF;
}
.icon-bar{
  background-color: #000;
}
body{
  background-image: url(../images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.banner{
  background-color: #F2F9FF;
  min-height: 50vh;
}

.display{
  margin-top: 10vh;
}

.bg-text{
  background-color: #F6464E;
  color: #fff;
  padding: 0.5vh 1vh;
}

.fas{
  color: #F6464E;
}

.inspire{
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.newsletter{
  background-color: #F2F9FF;
}

.btn{
  background-color: #F6464E;
  color: #fff;
}

.btn:hover{
  color: #F2F9FF;
}

hr{
  width: 8vw;
  background-color: #F6464E;
  height: 1vh;
  margin: 0 0 5vh 0;
}

.heading{
  font-weight: bold;
}

h6.card-title{
  color: #F6464E;
  width: auto;
  font-weight: bold;
}

.card-img-top{
  width: 100%;
}

.card-text, .card-title{
  padding: 1vh 3vh;
}

.card{
  box-shadow: 3vh 1vh 3vh 1px #969694;
  border-radius: 3%;
}

.footer{
  background-color: #F6464E;
  margin-top: 5vh;
  
}
footer li a{
  color: #F2F9FF !important;
  padding: 5vh 0;
}

footer li a:hover{
  color: #000 !important;
}

.fab{
  padding: 0 1vw;
  color: #F2F9FF;
  cursor: pointer;
  font-size: 1.5em;
  margin-top: 2vh;
}

.fab:hover{
  color: #000 !important;
}

.signin{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 0 15vh;
  background-color: #F2F9FF;
}

input[type='submit']{
  width: 100%;
}

input[type='submit']:hover{
  color: #000;
  background-color: #F2F9FF;
}

input[type='text'], input[type='password']{
  border-style: none;
  border-bottom: 2px solid #F6464E;
  background-color: transparent;
}

input[type='text']:focus, input[type='password']:focus{
 
  background-color: transparent;
}

.signin-bg{
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/pexels-photo-4348403.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

@media only screen and (max-width:678px){
  .signin-bg{
    display: none;
  }
}