.nav a{
  color: #969694;
}
.navbar-brand{
  color: #000;
}
body{
  background-image: url(../images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.banner{
  background-color: #F2F9FF;
  min-height: 50vh;
}

.display{
  margin-top: 10vh;
}

.bg-text{
  background-color: #F6464E;
  color: #fff;
  padding: 0.5vh 1vh;
}

.fas{
  color: #F6464E;
}

.inspire{
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}