{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row blog-banner">
    <div class="col-md-4"></div>
    <div class="col-md-4" style="display: grid; place-items:center; min-height:50vh;">
      <h1 style="text-align: center; font-weight:bold;  color:#F6464E"><span class="bg-text">OUR</span> BLOGS</h1>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10" style="background-color: #F2F9FF; padding: 0 5vh;">
      {{macro.displayBlog(blogs)}}
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
{% endblock %}