<div class="navbar" role="navigation">
  <div class="container-fluid">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><span class="bg-text">PERSONAL</span>BLOG</a>
      </div>
      <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              <li><a href="/">Home</a></li>
              <li><a href="" >About</a></li>
              <li><a href="">Blogs</a></li>
              {% if current_user.is_authenticated %}
              <li><a href="">Post Blog</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Signed In<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Signed In as {{current_user.username}}</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Signout</a></li>
                </ul>
              </li>
              {% else %}
              <li><a href="{{url_for('auth.signup')}}">Signup</a></li>
              <li><a href="{{url_for('auth.signin')}}">Signin</a></li>
              {% endif %}
          </ul>
      </div>

  </div>
</div>